html, body {
    background-color: #eee;
}

body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.container > footer p {
    text-align: center; /* center align it with the container */
}

.container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding-left: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span9,
.content .span5 {
    min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span5 {
    margin-left: 0;
    padding-left: 19px;
}

.topbar .btn {
    border: 0;
}

.clearboth {
    clear: both;
}

.display_block {
    display: block;
}

/*Overwrite blueprint notice*/
.notice {
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880;
}

/*logo link*/
a.logo_link:hover {
    background: transparent;
}

/*============================================*/
/* Header Image */
header img {
    float: left;
    margin-top: 1em;
}

/*============================================*/

/* Body */
.post_spliter {
    border-top: 1px solid #ccc;
    vertical-align: top;
    border-right: 1px solid #ccc;
}

.post {
    margin-left: 1em;
}

.post_title {
    float: left;
}

.post_title a {
    margin-top: 0em;
    vertical-align: top;
    color: #104E8B;
    text-decoration: none;
    font-size: 85%;
    font-weight: bold;
}

.post_title a:hover {
    color: #104E8B;
    background: transparent;
    text-decoration: underline;
}

.post_price {
    color: #cc0000;
    font-size: 85%;
    font-weight: bold;
    margin-right: 1em;
    float: left;
}

.post_content {
    display: block;
    font-size: 85%;
}

.post_thumb {
    float: left;
    width: 100px;
    margin-right: 2px;
}

.post_original {
    float: left;
    width: 200px;
    margin-left: 2px;
}

.post_meta {
    display: block;
    font-size: 85%;
    color: #999999;
    float: left;
    margin-right: 1em;
}

.filter_field {
    float: left;
    font-size: 85%;
    margin: 1em;
}

.filter_container {
    margin-left: -20px;
    margin-bottom: -20px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #F5F5F5;
}

div#view_swtich_bar{
    margin-top: 5px;
    margin-left: -20px;
}


div#view_swtich_bar ul li {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
    float: left;
}

.help_btn {
    padding: 0px;
    text-align: center;
    height: 18px;
    width: 18px;
}

.help_btn:active
{
    outline: none;
}

.help_btn:focus
{
    -moz-outline-style: none;
}


