.container {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}


#content_wrapper {
  background-color: whitesmoke;
  padding: 1.5em;
  margin: -1.5em;
  width: 710px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
  z-index: 1;
}

.clearboth {
    clear: both;
}

.display_block{
    display: block;
}

/*Overwrite blueprint notice*/
.notice {
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880;
}

/*logo link*/
a.logo_link:hover {
    background: transparent;
}

/*============================================*/
/* Header Image */
header img {
    float: left;
    margin-top: 1em;
}

div.search
{
    float: left;
    margin-top: 1em;
    margin-left: 3em;

}

/* Header Navigation */
nav {
    float: right;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 1em 0;
    font-size: 12px;
}

nav li a {
    #color: #009999;
    color: #5086B0;
    padding: 0 5px;
    text-decoration: none;
}

nav li a:hover {
    #color: #009999;
    color: #5086B0;
    text-decoration: underline;
    background-color: transparent;

}

nav li a:visited {
    #color: #009999;
    color: #5086B0;
}

/*============================================*/

/* Body */
.canvas {
    min-height: 500px;
    #background: #666666;
    background: #000000;
}

section {
    clear: both;
    margin-top: 0em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
    border: 1px;
}

/*============================================*/

.gradient {
    /* default background colour, for all layout engines that don't implement gradients */
    background: #2a6da9;

    /* gecko based browsers */
    background: -moz-linear-gradient(top, #55aaee, #003366);

    /* webkit based browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#55aaee), to(#003366));

    color: #000000; /* text colour (black) */
    height: auto; /* gradient uses the full height of the element */
    padding: 5px; /* distance from border edge to text */
}

/*=============================================*/

/* Post */
table.posts {
    width: 450px;
    margin-top: 1em;
}

table.posts tr {
    height: 100px;
}

table.posts tr td {
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
}

table.posts tr td .post_title {

}

table.posts tr td .post_title a {
    margin-top: 0em;
    vertical-align: top;
    color: #104E8B;
    text-decoration: none;
    font-size: 85%;
    font-weight: bold;
}

table.posts tr td .post_title a:hover {
    background: transparent;
    text-decoration: underline;
}

table.posts tr td .post_price {
    color: #cc0000;
    font-size: 85%;
    font-weight: bold;
    margin-right: 1em;
}

.post_content {
    display: block;
    font-size: 85%;
}

.post_thumb {
    float: left;
    width: 100px;
    margin-right: 2px;
}

.post_original {
    float: left;
    width: 200px;
    margin-left: 2px;
}

.post_meta {
    display: block;
    font-size: 85%;
    color: #999999;
    float: left;
    margin-right: 1em;
}



.filter_field
{
    float: left;
    font-size: 85%;
    margin-right: 3px;
}


